@use "./../abstracts/" as *;

.carousel {

  position: relative;
  min-height: 50vh;
  width: 100%;

  & .carousel-content {

    position: relative;
    height: 100%;
    width: 100%;

    & .carousel-item {

      object-fit: cover;
      position: absolute;
      width: 10rem
    }
  }

  & .carousel-toggler-right {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%)
  }

  & .carousel-toggler-left {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%)
  }

  & .carousel-indicator-wrapper {

    display: flex;
    justify-content: center;
    padding: 0.8rem 0;

    & .carousel-indicator {
      border: 0;
      border-radius: 50%;
      width: 15%;
      height: 15%;
      background-color: var(--dark-100);
      margin: 0 0.8rem
    }
  }
}
