@use "./../abstracts/" as *;

.hamberger {
  cursor: pointer;

  .hamberger-bar {
    background-color: var(--black-100);
    height: 2px;
    width: 1.7rem !important;
    margin-bottom: 0.5rem !important;

    &.hamberger-bar-short {
      width: 1.3rem !important;
    }

    &:last-child {
      margin-bottom: 0 !important
    }
  }
}
