@use "./../abstracts/" as *;

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
