@use "./../abstracts/" as *;

.tooltip {
  position: absolute;
  visibility: hidden;
  z-index: 200;
  background-color: var(--white-100);
  border-radius: 0.15rem;
  bottom: 4rem;
  padding: 0.3rem 0.8rem;

  &.active {
    font-size: 0.85rem
  }

  &.active {
    visibility: visible
  }
}
